/* src/styles/layout.css */

.hide-below-600 {
    display: block;
}

@media (max-width: 600px) {
    .hide-below-600 {
        display: none;
    }
}

.flex-direction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1200px) {
    .flex-direction {
        flex-direction: column;
        align-items: center;
    }
}

.sect2-descr {
    justify-content: 'flex-start';
}

@media (max-width: 600px) {
    .sect2-descr {
        justify-content: center;
    }
}

.responsive-button {
    width: clamp(260px, 40vw, 450px);
    height: clamp(44px, 7vh, 64px);
}

.hide-below-500 {
    display: flex;
    /* default shown */
}

/* hide when viewport width is less than 500px */
@media (max-width: 499px) {
    .hide-below-500 {
        display: none !important;
    }
}