/* src/styles/variables.css */

/* Your design tokens here (no tailwind.config.js needed) */
/* default */
/* :root {

    --color-primary: #9C88D9;
    --color-primary-light: #9C88D9;
    --color-primary-dark: #18112D;
    --color-background: #0B0E16;

    --color-text-dark: #363C18;
    --color-text-light: #B2B18F;

    --radius-2xl: 30px;

    --transition-fast: 0.3s ease;
} */
