/* src/components/Home/components/container.css */

/* ----------------------- */
/* Scroll container styles */
/* ----------------------- */

.scroll-container {
    position: fixed;
    height: 100vh;
    width: 100%;

    overflow: hidden;

    pointer-events: none;

    z-index: 1;
}

.scroll-container-inner {
    width: 100%;
}


/* -------------- */
/* Section styles */
/* -------------- */

.home-section {
    width: 100%;
    height: 100vh;

    padding-top: var(--vertical-section-padding);
    padding-bottom: var(--vertical-section-padding);

    box-sizing: border-box;

    display: flex;
}