/* src/components/Home/home.css */

/* .home {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.home-canvas-layer {
    position: fixed;
    inset: 0;
    z-index: 0;
    touch-action: none;
}

.home-canvas {
    width: 100%;
    height: 100%;
    display: block;
} */

/* Sections */

/* .home-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    max-width: 1800px;

    margin: 0 auto;
    padding: 0 clamp(20px, 4vw, 60px);

    box-sizing: border-box;
}

.home-section-stack {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: clamp(80px, 6vh, 120px);
}

.home-title {
    font-style: italic;
    font-weight: 500;
}

.home-description {
    text-align: center;
    max-width: 520px; }


.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 0 clamp(20px, 4vw, 60px);
    box-sizing: border-box;
}

.home-stack {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: clamp(80px, 6vh, 120px);
}

.home-text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.home-description-right {
    text-align: right;
    max-width: clamp(260px, 50vw, 720px);
}

.home-center-button {
    pointer-events: auto;
}

.home-about-layout {
    display: flex;
    justify-content: space-between;
    gap: clamp(15px, 8vh, 100px);
}

.home-about-text {
    flex: 1;
    max-width: clamp(300px, 50vw, 550px);
}

.home-about-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: clamp(10px, 2vh, 20px);
}

.home-sandbox-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(30px, 6vh, 100px);
}

.home-description {
    max-width: clamp(260px, 60vw, 520px);
    text-align: center;
} */